@import "../../assets/styles/variables.scss";

.projects {
  &__title {
    margin-top: 2rem;

    span {
      color: $text-color-accent;
    }
  }

  &__intro {
    margin-top: 1rem;
  }

  &__filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0 4rem;

    &_item {
      display: inline-block;
      font-size: 1rem;
      font-weight: 700;
      min-width: 1.75rem;
      line-height: 1.75rem;
      text-align: center;
      padding: 0.15rem 0.75rem;
      border-radius: 10px;
      margin: 0 0.5rem 5px 0;
      cursor: pointer;
      transition: background-color 0.5s, border-color 0.5s;

      @media screen and (min-width: 2000px) {
        padding: 1rem 2rem;
        border-radius: 0.85rem;
      }

      &.React {
        background-color: transparent;
        color: $react-color;
        border: solid 1px $react-color;
        &:hover,
        &_active {
          background-color: $react-color;
          color: $surface-color;
        }
      }

      &.Vue {
        background-color: transparent;
        color: $vue-color;
        border: solid 1px $vue-color;
        &:hover,
        &_active {
          background-color: $vue-color;
          color: $surface-color;
        }
      }

      &.JavaScript {
        background-color: transparent;
        color: $js-color;
        border: solid 1px $js-color;
        &:hover,
        &_active {
          background-color: $js-color;
          color: $surface-color;
        }
      }

      &.Wordpress {
        background-color: transparent;
        color: $wpress-color;
        border: solid 1px $wpress-color;
        &:hover,
        &_active {
          background-color: $wpress-color;
          color: $surface-color;
        }
      }

      &.Components {
        background-color: transparent;
        color: $component-color;
        border: solid 1px $component-color;
        &:hover,
        &_active {
          background-color: $component-color;
          color: $surface-color;
        }
      }

      &.All {
        background-color: transparent;
        color: $all-color;
        border: solid 1px $all-color;
        &:hover,
        &_active {
          background-color: $all-color;
          color: $surface-color;
        }
      }
    }
  }

  &__container {
    display: grid;
    column-gap: 30px;
    row-gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    margin-bottom: 3rem;
  }

  &__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax (40px, auto) / 1fr;

    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $card-bg;
    color: $text-color;
    cursor: pointer;
    transition: all 0.3s ease;
    max-width: 400px;
    &:hover {
      box-shadow: 0 0 15px rgba(144, 144, 144, 0.6);
    }

    &_image {
      position: relative;
      padding: 0px 0px 90% 0px;
      margin: 0px 0px 20px 0px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 0.5rem;
        object-fit: cover;
      }
    }

    &_content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem;
      width: 100%;
      position: relative;
      flex-direction: column;
    }

    &_title {
      color: $color-accent;
      margin-top: 0.5rem;
      line-height: 1.5;

      @media screen and (min-width: 2000px) {
        margin-top: 3rem;
      }
    }

    &_tech {
    }
    &_text {
    }

    &_tags {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      background-color: $card-bg;
      top: -45px;
    }
  }
}
