@import "../../assets/styles/variables.scss";

.app__contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $color-accent;

  &_telmail {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    column-gap: 2rem;
    a {
      margin-left: 0.75rem;
    }
  }

  &_social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    column-gap: 2rem;
  }
}
