@import "../../assets/styles/variables.scss";
@import "../../assets/styles/buttons.scss";

.contact {
  &__intro {
    margin-top: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    width: 100%;
    margin: 1rem auto 3rem;
  }

  &__phone-mail {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    div {
      cursor: pointer;
      transition: all 0.3s ease;
      width: 48.5%;
      display: flex;
    }

    div:not(:last-of-type) {
      margin-right: 1rem;
    }

    a {
      margin-left: 0.75rem;
    }

    @media screen and (max-width: 761px) {
      justify-content: center;
      flex-direction: column;
      div {
        margin-right: 0;
        margin-bottom: 1rem;
        width: 100%;
      }
      div:not(:last-of-type) {
        margin-right: 0;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: $color-cardBg;
    color: $color-text;
    border: 1px solid rgba(255, 255, 255, 0.18);

    div {
      width: 100%;
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 761px) {
        flex-direction: column;
      }
    }

    input,
    textarea {
      background-color: $color-bg;
      border: 1px solid rgba(255, 255, 255, 0.18);
      border-radius: 0.5rem;
      padding: 0.5rem 1rem;
      font-family: "Red Hat Mono", monospace;
      font-size: 0.75rem;
      margin-bottom: 1rem;
      outline: none;
      width: 100%;
      :focus {
        border: 1px solid rgb(0, 204, 204, 0.18);
        box-shadow: 0 0 15px rgb(0, 204, 204, 0.3);
      }
    }

    input:first-of-type {
      margin-right: 0.5rem;
    }

    textarea {
      min-height: 160px;
      resize: vertical;
    }

    button {
      margin: 3rem 0 1.5rem;
    }

    &_disclaimer {
      p {
        color: $color-menu;
        font-size: 0.75rem;
      }
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;

    h4 {
      color: $color-text;
      margin-bottom: 2rem;
    }

    div {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      column-gap: 2rem;
      cursor: pointer;

      a {
        &:hover {
          transform: scale(1.2, 1.2);
          border: 1px solid rgb(0, 204, 204, 0.18);
          box-shadow: 0 0 15px rgb(0, 255, 185, 0.3);
        }
      }
    }
  }

  &__thanks {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
