@import "./variables";
@import "./buttons";
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700&family=Red+Hat+Mono:wght@400;600&display=swap");

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $surface-color;
  color: $text-color;
  -webkit-font-smoothing: antialised;
  min-width: 280px;
}

* {
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-family: "Red Hat Mono", monospace;
  font-weight: 600;
  color: $text-color;
  font-size: 1.75rem;
  span {
    font-family: "Red Hat Mono", monospace;
    color: $text-color-accent;
  }
}

h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: $text-color-accent;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0.5rem;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.85rem;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
