//latest
$color-bg: #20262e;
$color-cardBg: #2a323d;

$color-text: #ffffffde;
$color-menu: #fff9;
$color-accent: #00cccc;
$color-hover: #00ffb9;

//Tech filters
$react-color: #61dafb;
$vue-color: #42b883;
$js-color: #f0db4f;
$wpress-color: #9eb0c8;
$component-color: #cdaaea;
