$text-main: #4f4f4f;
$text-second: #bdbdbd;
$text-status: #fbfbfb;
$text-color: #3abdb5;

$bg: #efdbddbf;
$bg-header: #805f63;

$table-bg: #fff8f9;
$table-border: #cc999e;

$row-hover: #fcf1f3;
$row-edit: #ffe5e8;
$row-border: #e5acb1;

$success: rgb(83, 193, 130);
$warning: rgb(255, 176, 105);
$error: rgb(251, 117, 117);
$info: rgb(76, 144, 235);

$btn: #cc999e;
$btn-hover: #e5acb1;
$btn-press: #ffd9dc;
