$success: #53c182;
$warning: #ffb069;
$error: #fb7575;
$info: #4c90eb;

//new
$surface-color: #20262e;
$text-color: #ffffffde;
$text-color-accent: #efd81f;
$link-color: #fff9;
$color-accent: #6cc2ff;
$color-accent-hover: #6cc2ff;
$card-bg: #2a323d;

//Tech filters
$react-color: #88dcec;
$vue-color: #53c182;
$js-color: #efd81f;
$wpress-color: #d4d4d4;
$component-color: #b57edc;
$all-color: #fb7575;
